services:
  db:
    image: postgres:15-alpine
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_DB_TEST: ${POSTGRES_DB_TEST}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_PORT: ${POSTGRES_PORT}
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "${POSTGRES_PORT}:${POSTGRES_PORT}"
    command: >
      sh -c '
        docker-entrypoint.sh postgres &
        sleep 5
        createdb -U ${POSTGRES_USER} ${POSTGRES_DB_TEST}
        wait
      '
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      retries: 5

  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"

  web:
    build: .
    env_file:
      - .env
    working_dir: /app/src
    command: gunicorn core.wsgi:application --bind 0.0.0.0:8000 --capture-output --enable-stdio-inheritance --reload
    volumes:
      - ./src:/app/src
    depends_on:
      - db
      - redis
    ports:
      - "8000:8000"

  web-test:
    build: .
    env_file:
      - .env
    environment:
      DB_NAME: ${POSTGRES_DB_TEST}
    command: ["bash", "-c", "echo 'CMD overridden'"]
    volumes:
      - ./src:/app/src
    depends_on:
      - db
      - redis

  worker:
    build: .
    env_file:
      - .env
    command: celery -A core worker -l info
    volumes:
      - ./src:/app/src
    depends_on:
      - db
      - redis

  beat:
    build: .
    env_file:
      - .env
    command: celery -A core beat -l info
    volumes:
      - ./src:/app/src
    depends_on:
      - db
      - redis

volumes:
  pgdata:
